html {
    font-size: 10px;
    background: url("utils/img_bk.jpeg") center center;
    background-size: cover;
  }
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-snap-points-x: 0;
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
  }
  .keys{
    margin-top: 150px;
  }
  .key {
    border: .4rem solid rgb(38, 34, 58);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .10s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: #3198f885;
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.5);
    border-color: #c43d6c;
    box-shadow: 0 0 1rem #3f24b8;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #feffe9;
  }